/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* font family */
/* font-family: 'Poppins', sans-serif; */

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
.container{
    padding: 70px 140px;
}
.primary-btn{
    padding: 10px 24px 10px 24px;
    color: white;
    text-decoration: none;
    background-color: #E02C6D;
    border: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.primary-btn:hover{
    background-color: #3DBAFD;
    color: white;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style: none;
}
/* Top bar style */
#top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D25A0;
    padding: 86px 140px;
}
#top-bar h1{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 80px;
    margin:0 0 27px 0;
}
#top-bar .top-bar-left a i{
    margin-left: 8px;
    position: relative;
    top: 2px;
}
#top-bar .top-bar-right img{
    width: 556px;
    transition: all 0.5s ease;
}
#top-bar:hover .top-bar-right img{
    transform: scale(1.1);
}
/* players style */
#players{
    background-color: white;
}
#players .players-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
#players .player{
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);;
}
#players .player-img img{
    width: 100%;
}
#players .player-info h3{
    margin: 6px 0 6px 0;
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
}
#players .player-info p{
    margin: 0 0 15px 0;
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* hightlights style */
#hightlights{
    background-color: white;
}
#hightlights .hightlights-inner{
    display: flex;
    align-items: center;
}
#hightlights .hightlight-left h2{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #0A0826;
    line-height: 60px;
    margin:0 0 8px 0;
}
#hightlights .hightlight-left p{
    margin: 0 0 24px 0;
    color: #6C6C6C;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
#hightlights .hightlight-left a i{
    margin-left: 8px;
    position: relative;
    top: 2px;
}
#hightlights .hightlight-right{
    padding-left: 65px;
}
#hightlights .hightlight-right img{
    width: 530px;
}
/* host cities style */
#host-cities{
    background-color: #2D25A0;
}
#host-cities .section-title h2{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
}
#host-cities .host-city-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}
#host-cities .host-city{
    background-color: white;
    cursor: pointer;
}
#host-cities .host-city-img img{
    width: 100%;
    height: 200px;
}
#host-cities .host-city-title h3{
    text-align: center;
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
/* sponsors style */
#sponsors{
    background-color: #EEEEEE;
}
#sponsors .section-title h2{
    text-align: center;
    color: black;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
}
#sponsors .sponsors-img{
    display: flex;
    justify-content: center;
}
#sponsors .sponsors-img a img{
    padding: 5px 10px;
}
/* footer style */
#footer{
    background-color: white;
}
#footer .footer-img{
    text-align: center;
}
#footer .footer-img img{
    width: 484px;
}
#footer .footer-social ul{
    display: flex;
    justify-content: center;
}
#footer .footer-social ul li{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #E7E7E8;
    margin-right: 14px;
    text-align: center;
}
#footer .footer-social ul li a{
    font-size: 14px;
    color: #969BAB;
}
#footer .footer-copyright{
    text-align: center;
}
#footer .footer-copyright p{
    font-size: 18px;
    color: black;
    font-weight: 400px;
}



/* media queries (mobile-devices) */
@media only screen and (max-width:688px){
    #top-bar{
        display: block;
        padding: 20px;
    }
    #top-bar .top-bar-right img {
        width: 100%;
        margin-top: 10%;
    }
    .container{
        width: 100%;
        padding: 70px 0px;
    }
    #players .players-inner{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }
    #players .player{
        /* margin: 0 20px; */
    }
}